@import url(./fonts.css);

body {
    margin: 0;
    padding: 0;
    font-family: 'ProximaNova-Regular';
    line-height: 1.42857143;
    box-sizing: border-box;
}

ul {
    list-style-type:none;
    padding-left: 0;
    padding-bottom: 0;
}

/* div {
    border: 1px dashed rgba(161, 159, 159, 0.596);
}  */

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.my-photo {
    border-radius: 50%;
    width:262px;
    position: relative;
    top:-135px;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc ;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    max-width: 780px;
}

.main-title>h1 {
    font-size: 14px;
    color: #dcdcdc;
    font-weight: normal;
    margin-top: 50px;
}
.btns {
    display: flex;
}

.btn {
    display: block;
    min-width: 157px;
    text-decoration: none;
    border-radius: 18px;
    padding: 4px;
    background-color: #ffa414;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: 50px 15px 15px 15px;
}

.btn:last-child {
    margin:  50px 0px 15px 15px;
}
.nav {
    display: flex;
}
.nav-item {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color:#3e4a4e;
    padding: 15px;
}

.nav-item:hover {
    color:#49e0be;
    border-bottom: 4px solid #3e4a4e;
}

.active {
    color:#49e0be;
    border-bottom: 4px solid #3e4a4e;
}

.content {
    
}

.dark-theme {
    background-color: #3e4a4e;
    color: #fff;
}
.dark-theme span{
    color: #49e0be;
}

.dark-theme h3 {
    font-size: 24px;
    color: #6a808b;
    font-weight: 400;
    text-transform: uppercase;
}

.dark-theme a {
    color: #14bfff;
    text-decoration: none;
}

.intro {
    font-size: 42px;
    color: #49e0be;
    margin-top: 75px;
    font-weight: 700;
}

@media (max-width: 395px) {
    .btns{
        flex-direction: column;
        align-items: baseline;       
    }
    .nav{
        flex-direction: column; 
    }

    .btn {
        margin-top: 15px;
    }

    .btn:last-child {
        margin-top: 15px;
    }
}

@media (max-width: 622px) {
    .main-title{
        flex-direction: column;
    }
    .intro{
        font-size: 22px;
    }
}

@media (max-width: 861px) {
    .wrapper{
        flex-direction: column;
    }
    .content-title>h3{
        margin:0;
    }
}

@media  (max-width: 1042px) {
    .my-photo{
        display: none;
    }
}


